@page
@model Tuckshop.Views.Requests.PaymentConfirmationModel
@{
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Tuckshop.styles.css" asp-append-version="true" />

<div>
  <h1 style="text-align:center;font-size:50px;">Payment Confimation</h1>
</div>
  



<div>
    <p1 style="text-align:center;font-size:20px;">
        We appreciate your trust in our service and wish you will have a good time eating our food, click the button below to pay for your order.
    </p1>
</div>

<div>
  <a href="https://localhost:7116/Requests/Index" target=""><button type="button" class="btn btn-default" style="color: deeppink;">Confirm Payment</button></a>
</div>
 