html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.center{
    display: block;
    margin-left;
    margin-right;
    width:50%;
}
.carousel-inner {
    width: 700px;
    height: 550px;
    object-fit:cover;
}