@model Tuckshop.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Add a student</h1>

<h4>Students</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Homeroom" class="control-label"></label>
               <select select asp-for="Homeroom" class="form control">

                    <option value="FJN">FJN</option>
                    <option value="EKO">EKO</option>
                    <option value="PLS">PLS</option>
                    <option value="EKR">EKR</option>
                    <option value="YNO">YNO</option>
                    <option value="STP">STP</option>
                    <option value="FTN">FTN</option>
               </select>
               <span asp-validation-for="Homeroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
